In [1]:
import pandas as pd
from datetime import datetime
from bson.timestamp import Timestamp

In [2]:
from pymongo import MongoClient
conn = MongoClient("mongodb://localhost",port=27017)
#conn = MongoClient("mongodb://192.168.0.9",port=27017)
logsdb = conn.dsi.logs

In [3]:
sdate = datetime.strptime("2023-04-01", "%Y-%m-%d")
edate = datetime.strptime("2023-04-30", "%Y-%m-%d")

query = {"log_date":{
    "$gte": sdate,
    "$lte": edate 
}}
logsdb.count_documents(query)

275

In [8]:
import os
import sys
parent_dir = os.path.dirname(os.getcwd())
sys.path.append(parent_dir)

In [9]:
from src.modules.rh.transmute.log import query_month_log_count, query_month_late_count

In [14]:
df_log = pd.DataFrame(query_month_log_count("2023-04-01","2023-04-30"))
df_late = pd.DataFrame(query_month_late_count("2023-04-01","2023-04-30"))

In [17]:
df_log.head(1)

  log_member_id log_member_name  log_month_count
0      2301021S    SEYNOU Aîcha               15

In [18]:
df_late.head(1)

  log_member_id       log_member_name  log_month_late_count
0      2170820Y  YAO Anyéla Epse ADOU                     9

In [20]:
df_log.shape, df_late.shape

((20, 3), (19, 3))

In [31]:
df = pd.merge(pd.DataFrame(df_log), pd.DataFrame(df_late),
          how="left", on="log_member_id", suffixes=('', '_y')).filter(regex='^(?!.*_y)')
df.fillna(0).head()

  log_member_id        log_member_name  log_month_count  log_month_late_count
0      2301021S           SEYNOU Aîcha               15                  15.0
1      1240821W  WILSON Honoré Georges               13                  13.0
2      1410922F           FOFANA Simon               17                  11.0
3      1150820C       COULIBALY Moussa               16                   0.0
4      1080720A     ANGOUA Guy-Charles               16                  15.0

In [28]:
df.to_dict(orient="records")

[{'log_member_id': '2301021S',
  'log_member_name': 'SEYNOU Aîcha',
  'log_month_count': 15,
  'log_month_late_count': 15.0},
 {'log_member_id': '1240821W',
  'log_member_name': 'WILSON Honoré Georges',
  'log_month_count': 13,
  'log_month_late_count': 13.0},
 {'log_member_id': '1410922F',
  'log_member_name': 'FOFANA Simon',
  'log_month_count': 17,
  'log_month_late_count': 11.0},
 {'log_member_id': '1150820C',
  'log_member_name': 'COULIBALY Moussa',
  'log_month_count': 16,
  'log_month_late_count': nan},
 {'log_member_id': '1080720A',
  'log_member_name': 'ANGOUA Guy-Charles',
  'log_month_count': 16,
  'log_month_late_count': 15.0},
 {'log_member_id': '2140820M',
  'log_member_name': 'MANOUAN Nina Epse KONE',
  'log_month_count': 13,
  'log_month_late_count': 11.0},
 {'log_member_id': '2170820Y',
  'log_member_name': 'YAO Anyéla Epse ADOU',
  'log_month_count': 13,
  'log_month_late_count': 9.0},
 {'log_member_id': '1100720S',
  'log_member_name': 'SAMBARE Zakaria',
  'log_month_count': 5,
  'log_month_late_count': 4.0},
 {'log_member_id': '1250921O',
  'log_member_name': 'OLOUI Yves',
  'log_month_count': 14,
  'log_month_late_count': 14.0},
 {'log_member_id': '1350322K',
  'log_member_name': 'KOUADIO Edmond',
  'log_month_count': 17,
  'log_month_late_count': 17.0},
 {'log_member_id': '1110720K',
  'log_member_name': 'KOSSIKE Kango Séraphin',
  'log_month_count': 8,
  'log_month_late_count': 8.0},
 {'log_member_id': '1210221K',
  'log_member_name': 'KOUASSI Adrien',
  'log_month_count': 18,
  'log_month_late_count': 18.0},
 {'log_member_id': '1260921C',
  'log_member_name': 'CISSE Alassane',
  'log_month_count': 16,
  'log_month_late_count': 16.0},
 {'log_member_id': '1230521B',
  'log_member_name': 'BEN Mourad',
  'log_month_count': 9,
  'log_month_late_count': 9.0},
 {'log_member_id': '1340222E',
  'log_member_name': 'ENAN Jean-Jacques',
  'log_month_count': 4,
  'log_month_late_count': 4.0},
 {'log_member_id': '2060620N',
  'log_member_name': 'NOGBOU Paule',
  'log_month_count': 17,
  'log_month_late_count': 14.0},
 {'log_member_id': '1400822D',
  'log_member_name': 'DJIRE Lamine',
  'log_month_count': 17,
  'log_month_late_count': 16.0},
 {'log_member_id': '1360322G',
  'log_member_name': 'GNAGNE Mel Patrick',
  'log_month_count': 14,
  'log_month_late_count': 10.0},
 {'log_member_id': '1281021B',
  'log_member_name': 'BOKOUA Sébastien',
  'log_month_count': 16,
  'log_month_late_count': 14.0},
 {'log_member_id': '1180820K',
  'log_member_name': 'KABLAN Jean Claude',
  'log_month_count': 17,
  'log_month_late_count': 17.0}]