In [3]:
import os
import sys
import pandas as pd

parent_dir = os.path.dirname(os.getcwd())
sys.path.append(parent_dir)

from src.utils.process_raw_data import filter_raw_log_data

In [4]:
link_raw = "data/Original Records Report_JAN2023_Ã _JUIN 2023.csv"
link_filter = parent_dir + "/src/utils/data/members.csv"

In [5]:
logs = filter_raw_log_data(link_raw, link_filter)

In [6]:
def in_out(x):
    if x[-1:]=="1": return "IN"
    if x[-1:]=="2": return "OUT"

logs["Gate"] = logs['Attendance Check Point'].map(lambda x: in_out(x))
logs["Date"] = logs.Time.map(lambda x: x.split(" ")[0])
logs["Hour"] = logs.Time.map(lambda x: x.split(" ")[1])

df = logs[["Matricule","Name","Date","Hour","Gate",]].copy()
df.dropna(inplace=True)
df.rename(columns={"Matricule":"log_member_id","Name":"log_member_name",
                   "Date":"log_date","Hour":"log_time","Gate":"log_gate"}, 
          inplace=True)

In [7]:
df.head()

    log_member_id       log_member_name    log_date  log_time log_gate
259      1390722B  ERIC BAILLY THEODORE  2023-03-10  11:26:03      OUT
260      1390722B  ERIC BAILLY THEODORE  2023-03-16  09:04:03       IN
261      1390722B  ERIC BAILLY THEODORE  2023-03-16  13:07:57      OUT
262      1390722B  ERIC BAILLY THEODORE  2023-03-16  14:24:59       IN
263      1390722B  ERIC BAILLY THEODORE  2023-03-16  20:03:05      OUT